@font-face {
	font-family: ITC;
	font-weight: 400;
	font-style: normal;
	src: url('https://gitcdn.link/cdn/siegs/type/blob/b8ae38cd36a89631c9629e91a65ac79e82587013/itc-avant-garde-std-book.woff2') format('woff2');
}
@font-face {
	font-family: ITC;
	font-weight: 500;
	font-style: normal;
	src: url('https://gitcdn.link/cdn/siegs/type/blob/b8ae38cd36a89631c9629e91a65ac79e82587013/itc-avant-garde-std-medium.woff2') format('woff2');
}
@font-face { 
	font-family: ITC;
	font-weight: 600;
	font-style: normal;
	src: url('https://gitcdn.link/cdn/siegs/type/blob/b8ae38cd36a89631c9629e91a65ac79e82587013/itc-avant-garde-std-demi.woff2') format('woff2');
}
